---
import { Picture } from 'astro:assets';
import { type SbBlokData, storyblokEditable } from '@storyblok/astro';

interface CTAPill extends SbBlokData {
  image?: {
    filename?: string
  },
  title: string,
  text?: string,
  href: string,
  buttonText: string,
  info?: string,
  classes?: string
}

interface Props {
  blok: CTAPill;
}

const { blok } = Astro.props;
---
<section class="relative py-12 pt-10 px-2 lg:px-0 after:content-[''] after:absolute after:bg-gray-1 dark:after:bg-dark-2 after:h-36 after:left-0 after:w-full after:bottom-0 after:z-[1]" {...storyblokEditable(blok)}>
  <div class=`container max-w-screen-xl flex flex-col lg:flex-row mx-auto relative z-10 bg-primary py-12 px-4 lg:p-12 rounded-3xl text-white items-center ${!blok?.image?.filename ? '' : 'min-h-80'}`>
    <div class=`relative z-10 ${!blok?.image?.filename ? 'w-full' : 'lg:w-7/12'} px-4`>
      <div class=`mx-auto ${!blok?.image?.filename ? 'max-w-[570px] text-center' : 'text-left'}`>
        <div class="uppercase font-semibold text-3xl mb-6">
          {blok.title}
        </div>
        {blok?.text &&
          <div class="mb-12">
            {blok.text}
          </div>
        }
        <a href={blok.href}
           class="py-3 text-base font-semibold text-dark border border-transparent rounded-md bg-white px-7 hover:bg-success-darker uppercase shadow-md hover:shadow-lg w-3/4">
          {blok.buttonText}
        </a>
        {blok.info &&
          <div class="text-white text-sm italic mt-6">
            {blok.info}
          </div>
        }
      </div>
    </div>
    {blok?.image?.filename &&
      <div class="flex pt-20 -mb-12 lg:pt-0 lg:mb-0 lg:w-5/12 relative lg:absolute bottom-0 right-0 justify-center z-10">
        <Picture
          loading="eager"
          src={blok.image.filename}
          widths={[380]}
          inferSize={true}
          alt="orbnet dashboard"
          format="webp"
          quality="high"
          pictureAttributes={{}}
          class="max-w-[340px]"
        />
      </div>
    }
    <div class="absolute top-0 left-0 opacity-75">
      <svg width="285" height="294" viewBox="0 0 285 294" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.1" x="-81" y="0.488281" width="269.73" height="224.63" rx="20" fill="white" />
        <rect opacity="0.1" x="209.545" y="180.886" width="75.455" height="63.3128" rx="10" fill="white" />
        <rect opacity="0.1" x="134.09" y="244.199" width="75.455" height="63.3128" rx="10" fill="white" />
      </svg>
    </div>
    <div class="absolute bottom-0 right-0 opacity-75">
      <svg width="410" height="277" viewBox="0 0 410 277" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.1" y="0.858643" width="213.646" height="215.309" rx="14" fill="white" />
        <rect opacity="0.1" x="255.211" y="182.915" width="72.3237" height="60.6854" rx="10" fill="white" />
        <rect opacity="0.1" x="161.274" y="234.456" width="72.3237" height="60.6854" rx="10" fill="white" />
        <rect opacity="0.1" x="368.269" y="69.0259" width="178.731" height="100.588" rx="14" fill="white" />
      </svg>
    </div>
  </div>
</section>
