---
import { loadImage } from '../../utils/get-image';
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface Image extends SbBlokData {
  filename: string;
}

interface Section extends SbBlokData {
  title?: string,
  subtitle?: string,
  sectionTitle?: string,
  classes?: string,
  image?: Image
  content?: SbBlokData[]
}

interface Props {
  blok: Section;
}

const { blok } = Astro.props;

const optImage = await loadImage(blok?.image?.filename || '');
---
<section class={'relative py-12 lg:pb-16 ' + (blok?.classes || '')} style={`background-image: url(${optImage.src})`} {...storyblokEditable(blok)}>
  {blok?.sectionTitle &&
    <div class="container text-base text-center mx-auto text-primary dark:text-warning uppercase font-semibold tracking-wide pb-12">{blok.sectionTitle}</div>
  }
  {
    (blok?.title || blok?.subtitle) &&
    <div class="container max-w-screen-xl mx-auto">
      {blok.title &&
        <h3 class="max-w-2xl mx-auto text-center text-4xl text-dark dark:text-primary-400 font-semibold pb-12">{blok.title}</h3>
      }
      {blok.subtitle &&
        <div class="pb-12 mx-auto text-center text-dark-3 dark:text-white max-w-screen-lg">{blok.subtitle}</div>
      }
      <div class="pb-12">
        <div class="bg-primary h-[3px] w-[60px] mx-auto"></div>
      </div>
    </div>
  }

  {blok?.content?.map((blok: SbBlokData) => (
    <StoryblokComponent blok={blok} />
  ))}
</section>
