---
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';

interface FeatureCard extends SbBlokData {
  title: string,
  body: string,
  link?: string,
  link_text?: string,
}

interface Props {
  blok: FeatureCard;
}

const { blok } = Astro.props;
---
<div class="relative group transition border border-white/[0.5] dark:border-black rounded-2xl" {...storyblokEditable(blok)}>
  <div class="after:rounded-lg after:absolute after:blur-sm after:opacity-20 group-hover:after:opacity-60 after:z-0 after:top-0 after:bottom-0 after:left-0 after:right-0 after:content-[''] after:bg-white dark:after:bg-dark after:transition after:duration-500"></div>
  <div class="relative top-0 left-0 flex py-6 gap-4">
    <div class="w-1/6">
      <div class="flex bg-primary-100 dark:bg-dark items-center justify-center rounded-md w-8 h-8 ml-6">
        <svg class="text-primary h-4"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20"
             fill="currentColor"
             aria-hidden="true"
        >
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    <div class="w-5/6 text-dark-4 dark:text-white pr-6">
      <strong class="block mb-6 text-xl font-semibold text-dark dark:text-white">{blok.title}</strong>
      {blok.link && <a href={blok.link} class="card-link">{blok.body}</a>}
      {blok.link && <a href={blok.link} class="text-primary dark:text-primary-400 block font-semibold mt-4">{blok.link_text}</a>}
      {!blok.link && blok.body}
    </div>
  </div>
</div>

<style>
    .card-link::after {
        @apply absolute top-0 left-0 right-0 bottom-0 text-dark-4;
        content: '';
    }
</style>
