---
import { Picture } from 'astro:assets';

import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface ImageHeroImage extends SbBlokData {
  filename: string;
}

interface ImageHero extends SbBlokData {
  title: string,
  subtitle: string,
  cta_link: string,
  cta_text: string,
  content: SbBlokData[],
  image: ImageHeroImage,
  image_classes?: string
}

interface Props {
  blok: ImageHero;
}

const { blok } = Astro.props;
---
<section id="start" class=`relative` {...storyblokEditable(blok)}>
  <div class="w-full bg-gradient-to-t from-primary-900 from-10% to-80% bg-primary dark:from-dark dark:bg-dark-3">
    <div class="flex flex-col-reverse lg:flex-row h-[100lvh] w-full pt-[120px] px-6 lg:pt-0 text-white max-w-screen-xl items-center mx-auto gap-8">
      <div>
        <h1 class="text-2xl md:text-3xl lg:text-5xl lg:leading-tight font-semibold" {...storyblokEditable(blok)}>
          {blok.title}
        </h1>

        <h2 class="lg:text-xl py-6 lg:py-9" {...storyblokEditable(blok)}>
          {blok.subtitle}
        </h2>

        <div class="lg:text-xl pb-6 lg:pb-9">
          {blok.content?.map((blok: SbBlokData) => (
            <StoryblokComponent blok={blok} />
          ))}
        </div>

        {blok.cta_link && blok.cta_text &&
          <a
            href={blok.cta_link}
            class="block w-full tracking-wide text-lg font-semibold text-dark items-center bg-white hover:bg-white/[0.95] dark:bg-primary dark:text-white justify-center px-7 py-4 rounded-lg shadow-md text-center transition duration-500 hover:shadow-xl"
            {...storyblokEditable(blok)}
          >
            {blok.cta_text}
          </a>
        }
      </div>
      {blok?.image?.filename &&
        <Picture
          loading="eager"
          src={blok.image.filename}
          widths={[500, 400, 300]}
          inferSize={true}
          alt="orbnet dashboard"
          format="webp"
          quality="high"
          class={blok.image_classes || ''}
        />
      }
    </div>
  </div>
</section>
