---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
import SmartImage from '../../components/SmartImage.astro';

interface Image extends SbBlokData {
  filename: string;
}

interface HeroSection extends SbBlokData {
  title: string,
  subtitle: string,
  cta_link: string,
  cta_text: string,
  images?: Image[]
}

interface Props {
  blok: HeroSection;
}

const { blok } = Astro.props;
---
<section id="start" class=`relative ${blok?.images && blok.images.length > 0 ? ' pb-12' : ''}` {...storyblokEditable(blok)}>
  <div class="w-full bg-gradient-to-t from-primary-900 from-10% to-80% bg-primary dark:from-dark dark:bg-dark-3">
    <div class="flex flex-wrap items-center text-center h-[100lvh] w-full">
      <div class=`pt-[120px] px-6 lg:pt-0 w-full text-white ${blok?.images && blok.images.length > 0 ? ' -mt-[200px] md:-mt-[100px] lg:-mt-[140px]' : ''}`>
        <h1 class="text-white" {...storyblokEditable(blok)}>
          {blok.title}
        </h1>

        <h2 class="text-lg py-6 lg:py-9 text-white" {...storyblokEditable(blok)}>
          {blok.subtitle}
        </h2>

        <a
          href={blok.cta_link}
          class="w-full lg:w-2/5 tracking-wide text-lg font-semibold text-dark items-center bg-white hover:bg-white/[0.95] dark:bg-primary dark:text-white inline-flex justify-center px-7 py-4 rounded-lg shadow-md text-center transition duration-500 hover:shadow-xl">
          {blok.cta_text}
        </a>
      </div>
    </div>
  </div>
  {blok?.images && blok.images.length > 0 &&
    <div class="container px-6 relative mb-[90px] md:mb-[190px] lg:mb-[290px]">
      {blok?.images && blok.images[0] &&
        <SmartImage
          loading="eager"
          src={blok.images[0].filename}
          widths={[1000, 600]}
          sizes="(max-width: 1024px) 600px, 1000px"
          alt="orbnet dashboard"
          class="rounded-2xl shadow-2xl absolute z-30 left-[50%] w-[300px] md:w-[600px] lg:w-[800px] xl:w-[1000px] -ml-[150px] md:-ml-[300px] lg:-ml-[400px] xl:-ml-[500px] -mt-[120px] md:landscape:-mt-[40px] md:portrait:-mt-[120px] lg:landscape:-mt-[200px] transition duration-500 hover:-translate-y-1.5"
        />
      }
      {blok?.images && blok.images[1] &&
        <SmartImage
          loading="eager"
          src={blok.images[1].filename}
          widths={[800, 420]}
          sizes="(max-width: 1024px) 420px, 800px"
          alt="orbnet dashboard"
          class="rounded-2xl shadow-lg absolute z-20 left-0 w-[200px] md:w-[400px] lg:w-[600px} xl:w-[800px] -mt-[90px] md:portrait:-mt-[80px] md:landscape:-mt-[20px] lg:landscape:-mt-[130px] -rotate-6 transition duration-500 hover:-translate-y-1.5"
        />
      }
      {blok?.images && blok.images[2] &&
        <SmartImage
          loading="eager"
          src={blok.images[2].filename}
          widths={[800, 420]}
          sizes="(max-width: 1024px) 420px, 800px"
          alt="orbnet dashboard"
          class="rounded-2xl shadow-lg absolute z-10 right-0 w-[200px] md:w-[400px] lg:w-[600px} xl:w-[800px] -mt-[90px] md:portrait:-mt-[80px] md:landscape:-mt-[20px] lg:landscape:-mt-[130px] rotate-6 transition duration-500 hover:-translate-y-1.5"
        />
      }
    </div>
  }
</section>
