---
import { Image } from 'astro:assets';

import { storyblokEditable } from '@storyblok/astro';
import RichTextRenderer from '@storyblok/astro/RichTextRenderer.astro';
import type { ISbRichtext, SbBlokData } from '@storyblok/astro';

interface MiniCardImage extends SbBlokData {
  filename: string;
  alt: string;
  width: number;
  height: number;
}


interface MiniCard extends SbBlokData {
  title: string,
  body: ISbRichtext,
  link?: string,
  image?: MiniCardImage,
  classes?: string
  titleClasses?: string
  bodyClasses?: string
}

interface Props {
  blok: MiniCard;
}

const { blok } = Astro.props;
---
<div class=`flex flex-col ${(blok.classes || '')}` {...storyblokEditable(blok)}>
  {blok?.image &&
    <Image src={blok.image.filename} alt={blok.image.alt} width={blok.image.width} height={blok.image.height} />
  }
  <div class="p-4">
    {blok.title && <h4 class={'text-xl text-pretty break-words block pt-4 pb-6 text-dark dark:text-white ' + blok.titleClasses}>{blok.title}</h4>}
    <div class={'text-dark-3 dark:text-white ' + blok.bodyClasses}>
      <RichTextRenderer richTextData={blok.body} />
    </div>
  </div>
</div>
