---
import '../theme/pricing.css';

import { getImage, Image } from 'astro:assets';

import { prices } from '../content/prices';

import Layout from '../layouts/Layout.astro';
import lines from '../assets/svg/lines.svg';
import ok from '../assets/svg/check-fill.svg';

const optLines = await getImage({ src: lines, format: 'svg' });
---
<Layout
  title="Unsere Preise, übersichtlich und Transparent"
  description="Dank einfachster Preis-Bundles auf monatlicher Basis passen sich unsere Funktionen deinem Business an!"
  canonical={new URL('preise/', Astro.site)}
  breadcrumbs={[{ slug: '', title: 'Startseite' }, { slug: 'preise/', title: 'Unsere Preise' }]}
>
  <section class="bg-white dark:bg-dark text-dark dark:text-white pt-32">
    <div class="container max-w-screen-xl text-center">
      <h1 class="text-3xl font-semibold mb-8">Unsere Preise</h1>
      <h2 class="text-2xl font-semibold mb-12">Dank einfachster Preis-Bundles auf monatlicher Basis passen sich unsere Funktionen deinem Business an!</h2>

      <p class="mb-4 text-justify">
        Willkommen auf unserer Preisseite! Hier bringen wir Transparenz und Einfachheit in die Preisgestaltung für
        unsere Dienstleistungen. Unser Hauptziel ist es, Ihnen hochwertige, maßgeschneiderte Lösungen zu bieten, die
        sowohl Ihren Anforderungen als auch Ihrem Budget gerecht werden. Wir wissen, dass jedes Unternehmen einzigartig
        ist und unterschiedliche Bedürfnisse hat. Deshalb haben wir ein flexibles Preismodell entwickelt, das sich
        an die spezifischen Bedürfnisse Ihres Coaching-Business anpasst.
      </p>

      <p class="mb-4 text-justify">
        Dank unserer einfachsten Preis-Bundles auf monatlicher Basis können Sie die Funktionen auswählen, die am besten
        zu Ihrem Unternehmen passen. Diese Flexibilität stellt sicher, dass Sie genau die Dienste erhalten, die Sie
        benötigen, ohne für unnötige Extras zu zahlen. Egal, ob Sie nur grundlegende Funktionen wünschen oder ein
        umfassendes Paket benötigen – wir haben die passende Lösung für Sie.
      </p>

      <p class="mb-4 text-justify">
        Unsere Preis-Bundles sind darauf ausgelegt, maximale Kosteneffizienz zu bieten. Durch die monatliche Abrechnung
        haben Sie stets die Kontrolle über Ihre Ausgaben und können Ihre Investitionen flexibel anpassen.
        Dies ist insbesondere für kleine und mittelständische Unternehmen von Vorteil, die ihre Kosten genau im
        Auge behalten müssen.
      </p>

      <p class="mb-4 text-justify">
        Zusätzlich bieten wir regelmäßige Updates und Erweiterungen unserer Dienste. Dies bedeutet, dass Sie immer
        auf dem neuesten Stand der Technik sind und von neuesten Funktionen profitieren können, ohne zusätzliche
        Gebühren zahlen zu müssen. Unsere Kundenbetreuung steht Ihnen ebenfalls jederzeit zur Verfügung, um Fragen
        zu beantworten und Unterstützung zu bieten.
      </p>

      <div x-data="{monthly: true}" class={` background-image:url(${optLines.src})`}>
        <div class="my-12 flex justify-center">
          <fieldset aria-label="Payment frequency">
            <div class="grid grid-cols-2 gap-x-1 rounded-full p-1 text-center text-xs font-semibold leading-5 ring-1 ring-inset ring-gray-200 dark:ring-gray-600">
              <label class="cursor-pointer rounded-full px-2.5 py-1 dark:text-white" @click="monthly = true" :class="monthly ? 'bg-primary text-white' : ''">
                <input type="radio" name="frequency" value="monthly" class="sr-only">
                <span>Monatlich</span>
              </label>
              <label class="cursor-pointer rounded-full px-2.5 py-1 dark:text-white" @click="monthly = false" :class="monthly ? '' : 'bg-primary text-white'">
                <input type="radio" name="frequency" value="annually" class="sr-only">
                <span>Jährlich</span>
              </label>
            </div>
          </fieldset>
        </div>

        <div class="price-grid">
          <div class="price-sticky">
            <div class="bg-white dark:bg-dark lg:col-span-2"></div>
            <div class="price-head">
              <span class="font-semibold">{prices[0].packageName}</span>
              <span class="price-switch">kostenlos</span>
              <span>&nbsp;</span>
              <a href={prices[0].purchaseLink} class="price-btn text-primary dark:text-primary-400">
                {prices[0].btn}
              </a>
            </div>
            <div class="price-head">
              <span class="font-semibold">{prices[1].packageName} &ast;</span>
              <span class="price-switch" x-show="monthly">
                &euro; {prices[1].price.monthly}<span class="text-xs text-gray-600 dark:text-gray-400">/Monat</span>
              </span>
              <span class="price-switch" x-show="!monthly">
                &euro; {prices[1].price.yearly}<span class="text-xs text-gray-600 dark:text-gray-400">/Monat</span>
              </span>
              <span class="user-switch" x-show="monthly">
                &euro; {prices[1].userPrice.monthly} <span class="text-xs text-gray-600 dark:text-gray-400">zus. Benutzer</span>
              </span>
              <span class="user-switch" x-show="!monthly">
                &euro; {prices[1].userPrice.yearly} <span class="text-xs text-gray-600 dark:text-gray-400">zus. Benutzer</span>
              </span>
              <a href={prices[1].purchaseLink} class="price-btn bg-primary dark:bg-primary-400 text-white">
                {prices[1].btn}
              </a>
            </div>
            <div class="hidden lg:block price-head">
              <span class="font-semibold">{prices[2].packageName} &ast;</span>
              <span class="price-switch" x-show="monthly">
                &euro; {prices[2].price.monthly}<span class="text-xs text-gray-600 dark:text-gray-400">/Monat</span>
              </span>
              <span class="price-switch" x-show="!monthly">
                &euro; {prices[2].price.yearly}<span class="text-xs text-gray-600 dark:text-gray-400">/Monat</span>
              </span>
              <span class="user-switch" x-show="monthly">
                &euro; {prices[2].userPrice.monthly} <span class="text-xs text-gray-600 dark:text-gray-400">zus. Benutzer</span>
              </span>
              <span class="user-switch" x-show="!monthly">
                &euro; {prices[2].userPrice.yearly} <span class="text-xs text-gray-600 dark:text-gray-400">zus. Benutzer</span>
              </span>
              <a href={prices[2].purchaseLink} class="price-btn text-primary dark:text-primary-400">
                {prices[2].btn}
              </a>
            </div>
          </div>

          <div class="price-row-head -mt-4">
            <div>
              Funktionen
            </div>
          </div>
          {prices[0].features.functions.map((item, i) => (
            <>
            <div class="price-row-left lg:col-span-2">
              {item.title}
              {item?.description && <i class="text-xs italic"><br />{item.description}</i>}
            </div>
            {prices.map((_, k) => (
              <div class=`${k === 2 ? 'hidden lg:block ' : ''}price-row`>
                {prices[k].features.functions[i].amount !== true && prices[k].features.functions[i].amount !== false && prices[k].features.functions[i].amount}
                {prices[k].features.functions[i].amount === true &&
                  <Image src={ok} width="20" height="20" alt="Inkludiert" class="mx-auto" />}
                {prices[k].features.functions[i].amount === false && ''}
              </div>
            ))}
            </>
          ))}

          <div class="price-row-head">
            <div>
              Integrationen
            </div>
          </div>
          {prices[0].features.integrations.map((item, i) => (
            <>
            <div class="price-row-left lg:col-span-2">
              {item.title}
              {item?.description && <i class="text-xs italic"><br />{item.description}</i>}
            </div>
            {prices.map((_, k) => (
              <div class=`${k === 2 ? 'hidden lg:block ' : ''}price-row`>
                {prices[k].features.integrations[i].amount !== true && prices[k].features.integrations[i].amount !== false && prices[k].features.integrations[i].amount}
                {prices[k].features.integrations[i].amount === true &&
                  <Image src={ok} width="20" height="20" alt="Inkludiert" class="mx-auto" />}
                {prices[k].features.integrations[i].amount === false && ''}
              </div>
            ))}
            </>
          ))}

          <div class="price-row-head">
            <div>
              Customizing
            </div>
          </div>
          {prices[0].features.customizing.map((item, i) => (
            <>
            <div class="price-row-left lg:col-span-2">
              {item.title}
              {item?.description && <i class="text-xs italic"><br />{item.description}</i>}
            </div>
            {prices.map((_, k) => (
              <div class=`${k === 2 ? 'hidden lg:block ' : ''}price-row`>
                {prices[k].features.customizing[i].amount !== true && prices[k].features.customizing[i].amount !== false && prices[k].features.customizing[i].amount}
                {prices[k].features.customizing[i].amount === true &&
                  <Image src={ok} width="20" height="20" alt="Inkludiert" class="mx-auto" />}
                {prices[k].features.customizing[i].amount === false && ''}
              </div>
            ))}
            </>
          ))}

          <div class="price-row-head">
            <div>
              Support
            </div>
          </div>
          {prices[0].features.support.map((item, i) => (
            <>
            <div class="price-row-left lg:col-span-2">
              {item.title}
              {item?.description && <i><br />{item.description}</i>}
            </div>
            {prices.map((_, k) => (
              <div class=`${k === 2 ? 'hidden lg:block ' : ''}price-row`>
                {prices[k].features.support[i].amount !== true && prices[k].features.support[i].amount !== false && prices[k].features.support[i].amount}
                {prices[k].features.support[i].amount === true &&
                  <Image src={ok} width="20" height="20" alt="Inkludiert" class="mx-auto" />}
                {prices[k].features.support[i].amount === false && ''}
              </div>
            ))}
            </>
          ))}
          <div class="price-sticky">
            <div class="bg-white dark:bg-dark lg:col-span-2"></div>
            <div class="price-head">
              <a href={prices[0].purchaseLink} class="price-btn text-primary dark:text-primary-400">
                {prices[0].btn}
              </a>
            </div>
            <div class="price-head">
              <a href={prices[1].purchaseLink} class="price-btn bg-primary dark:bg-primary-400 text-white">
                {prices[1].btn}
              </a>
            </div>
            <div class="hidden lg:block price-head">
              <a href={prices[2].purchaseLink} class="price-btn text-primary dark:text-primary-400">
                {prices[2].btn}
              </a>
            </div>
          </div>
        </div>

        <div class="max-w-screen-xl mx-auto text-center dark:text-gray-300">
          * Alle Preise zuzüglich aktuell gültiger USt.<br>
          Verkauf nur an gewerbliche Endkunden in Deutschland.
        </div>
      </div>
    </div>
  </section>
</Layout>
