---
import { Image } from 'astro:assets';
import { getFormattedDate } from '../utils/all';
import { loadImage } from '../utils/get-image';

interface Props {
  body: string,
  date?: string,
  title?: string,
  src?: any,
  classes?: string,
  titleClasses?: string,
  bodyClasses?: string,
  link?: string,
}

const {
  body,
  date,
  title,
  src,
  classes,
  titleClasses,
  bodyClasses,
  link,
} = Astro.props;

let optImage = { src: '' };
if (src?.src && !String(src.src).includes('storyblok')) {
  optImage = await loadImage(src);
} else if (src?.src) {
  optImage = await loadImage(src.src);
} else if (src) {
  optImage = await loadImage(src);
}
---
<div class={'relative group transition border border-white/[0.75] dark:border-black rounded-lg ' + classes}>
  <div class="after:rounded-lg after:absolute after:opacity-30 group-hover:after:opacity-60 after:z-0 after:top-0 after:bottom-0 after:left-0 after:right-0 after:content-[''] after:bg-white dark:after:bg-dark after:transition after:duration-500"></div>
  <div class="relative top-0 left-0 flex flex-col rounded-t-lg overflow-hidden">
    {optImage.src !== '' &&
      <div class="flex h-64 w-full">
        <Image src={optImage.src} width="600" height="256" alt={title || 'Bild'} class="object-cover transition duration-500 group-hover:scale-105" />
      </div>
    }
    <div class="p-4">
      {title && link && <a href={link} class={'text-xl font-normal text-pretty break-words block pt-4 pb-6 text-dark dark:text-white card-link ' + titleClasses}>{title}</a>}
      {title && !link && <strong class={'text-xl font-normal text-pretty break-words block pt-4 pb-6 text-dark dark:text-white ' + titleClasses}>{title}</strong>}
      {date && <span class="text-sm bg-primary-200 text-dark dark:bg-dark-3 dark:text-white px-2 py-1 rounded-md">{getFormattedDate(date)}</span>}
      <div class={'text-dark-3 dark:text-white ' + bodyClasses}>
        {body}
        <slot />
      </div>
    </div>
  </div>
</div>
