---
import type { ISbStoryData } from '@storyblok/astro';
import Pagination from '../Pagination.astro';
import Layout from '../../layouts/Layout.astro';
import Card from '../Card.astro';
import Breadcrumbs from '../Breadcrumbs.astro';

interface Props {
  page: number,
  total: number,
  stories: ISbStoryData[],
  url: string,
}

const { page, total, stories, url } = Astro.props;
const title: string = (page === 1 ? 'Blog' : `Blog - Seite ${page}`);
// Set page 1 to blog only, because this is the url in the sitemap.
const breadcrumbs = [{ slug: '', title: 'Startseite' }, { slug: url, title: title }];
---
<Layout
  title={title}
  description=`Hier sprechen wir über alle relevanten Themen rund um Buchhaltung und Automatisierung in Coaching-Business. Blog - Seite ${page}.`
  canonical={new URL(`/${url}/`, Astro.site)}
  breadcrumbs={breadcrumbs}
>
  <section id="blog" class="pt-20 pb-10 lg:pt-[120px] lg:pb-20 dark:bg-dark">
    <div class="container max-w-screen-xl">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4">
          <div class="text-center">
            <h1 class="mb-4 text-3xl font-semibold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
              {title}
            </h1>
            <h2 class="mb-12 text-xl font-semibold text-dark dark:text-white">
              Hier sprechen wir über alle relevanten Themen rund um Buchhaltung, Terminverwaltung und Automatisierung in Coaching-Business.
            </h2>

            <Breadcrumbs breadcrumbs={breadcrumbs} />

            <p class="mt-8 mb-4 text-base text-justify text-body-color dark:text-dark-6">
              Diese Aspekte sind essenziell für Coaches und Berater, um ihre täglichen Arbeitsabläufe effizienter und
              kostengünstiger zu gestalten. Durch den gezielten Einsatz von Automatisierungssoftware können Coaches
              viele administrativen Aufgaben delegieren, was ihnen mehr Zeit für ihre Haupttätigkeiten lässt –
              das Coaching ihrer Klienten.
            </p>

            <p class="mb-4 text-base text-justify text-body-color dark:text-dark-6">
              Buchhaltung ist für viele Unternehmer ein herausforderndes Thema. Besonders im Coaching-Bereich,
              in dem häufig variable Einnahmen und Ausgaben auftreten, kann es kompliziert werden, den Überblick
              zu behalten. Hier besprechen wir verschiedene Buchhaltungsstrategien, die Ihnen helfen können, Ihre Finanzen
              besser zu verwalten. Ob es darum geht, Rechnungen nachzuverfolgen, Ausgaben effizient zu dokumentieren
              oder Steuerfragen zu klären – wir bieten praxisnahe Tipps, die einfach umzusetzen sind. Wir erklären auch,
              wie Sie die besten Buchhaltungs-Tools auswählen und nutzen, um Ihre Finanzen in den Griff zu bekommen.
            </p>

            <p class="mb-4 text-base text-justify text-body-color dark:text-dark-6">
              Automatisierung im Coaching-Business ist ein weiterer Schwerpunkt unseres Blogs. Von der Terminplanung
              über das Kundenmanagement bis hin zur Rechnungsstellung – zahlreiche Aufgaben lassen sich durch moderne
              Technologien automatisieren. Dadurch sparen Sie nicht nur Zeit, sondern minimieren auch die Fehleranfälligkeit
              menschlicher Arbeit. Wir stellen Ihnen verschiedene Automatisierungslösungen vor und zeigen, wie Sie diese
              in Ihrem Geschäftsalltag integrieren können. Mit klaren Anleitungen und Beispielen aus der Praxis machen
              wir es Ihnen leichter, den Ersteinstieg in die Welt der Automatisierung zu wagen.
            </p>

            <p class="mb-4 text-base text-justify text-body-color dark:text-dark-6 font-semibold">
              Bleiben Sie dran und lassen Sie sich inspirieren!
            </p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 mt-6">
        {
          stories.map((post) => (
            <Card
              src={{ src: post.content?.hero.filename }}
              date={post.first_published_at || post.created_at}
              title={post.content.title}
              classes="rounded-md"
              body={post.content.description}
              bodyClasses="py-6"
              link=`/${post.full_slug}/`
            />
          ))
        }
      </div>
      <Pagination current={page} total={total} />
    </div>
  </section>
</Layout>
