---
import type { ISbStoryData } from '@storyblok/astro';
import Pagination from '../Pagination.astro';
import Layout from '../../layouts/Layout.astro';
import Card from '../Card.astro';
import Breadcrumbs from '../Breadcrumbs.astro';

interface Props {
  page: number,
  total: number,
  stories: ISbStoryData[]
}

const { page, total, stories } = Astro.props;
const title: string = (page === 1 ? 'Blog' : `Blog | Seite ${page}`);
const breadcrumbs = [{ slug: '', title: 'Start' }, { slug: `blog/page/${page}`, title: title }];
---
<Layout
  description=""
  title={title}
  canonical={new URL(`/blog/page/${page}/`, Astro.site)}
  breadcrumbs={breadcrumbs}
>
  <section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20 dark:bg-dark">
    <div class="container max-w-screen-xl">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4">
          <div class="text-center">
            <h1 class="mb-4 text-3xl font-semibold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
              {title}
            </h1>
            <p class="mb-5 text-base text-body-color dark:text-dark-6">
              Hier sprechen wir über alle relevanten Themen rund um Buchhaltung und Automatisierung in Coaching-Business. Zusätzlich erfahren Sie die neuesten Updates rund um orbnet.de
            </p>
            <Breadcrumbs breadcrumbs={breadcrumbs} />
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 mt-6">
        {
          stories.map((post) => (
            <Card
              src={{ src: post.content?.hero.filename }}
              date={post.first_published_at || post.created_at}
              title={post.content.title}
              classes="rounded-md"
              body={post.content.description}
              bodyClasses="py-6"
              link=`/${post.full_slug}/`
            />
          ))
        }
      </div>
      <Pagination current={page} total={total} />
    </div>
  </section>
</Layout>
