---
import '../theme/base.css';

import { type Breadcrumb } from '../types/Breadcrumb';

import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import BackToTop from '../components/layout/BackToTop.astro';
import MyOrbnetJsonLd from '../components/jsonld/MyOrbnet.astro';
import OrbnetGmbHJsonLd from '../components/jsonld/OrbnetGmbH.astro';
import WebsiteJsonLd from '../components/jsonld/Website.astro';
import BreadcrumbsJsonLd from '../components/jsonld/Breadcrumbs.astro';

interface Props {
  title: string,
  description: string,
  canonical?: URL | string,
  robots?: string,
  image?: string,
  breadcrumbs?: Breadcrumb[] | undefined,
  footerDark?: boolean,
  hasHero?: boolean;
}

const { title, description, canonical, robots, image, breadcrumbs, footerDark, hasHero } = Astro.props;
---
<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | orbnet</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    {canonical &&
      <link rel="canonical" href={canonical} />
    }
    {robots &&
      <meta name="robots" content={robots} />
    }
    <meta name="publisher" content="orbnet GmbH" />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image &&
      <meta property="og:image" content={image} />
    }
    {canonical &&
      <meta property="og:url" content={canonical} />
    }
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@orbnetde" />
    <meta property="twitter:creator" content="@orbnetde" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <MyOrbnetJsonLd />
    <OrbnetGmbHJsonLd />
    <WebsiteJsonLd />
    <BreadcrumbsJsonLd breadcrumbs={breadcrumbs} />
  </head>
  <body id="top" class="bg-white dark:bg-dark">
    <Header hasHero={hasHero} />
    <slot />
    <Footer dark={footerDark || false} />
    <BackToTop />
    <script>
      import '../scripts/darkMode.js';
      import '../scripts/stickymenu.js';
      import '../scripts/scrolltop.js';
    </script>
    <script is:raw is:inline type="text/plain" data-category="analytics" data-src="https://www.googletagmanager.com/gtag/js?id=G-Y1PV48Q98S"></script>
    <script is:raw is:inline type="text/plain" data-category="analytics">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("consent", "default", {"ad_storage": "granted", "analytics_storage": "granted"});
      gtag("config", "G-Y1PV48Q98S", {"anonymize_ip": true, cookie_flags: "SameSite=Strict;Secure" });
    </script>
  </body>
</html>
